<title>Magsmen | Your Brand Experts!</title>
<meta name="description" content="At Magsmen, we don't simply tell stories - we make them. Drawing inspiration from the word 'Magsman', meaning storytelling, our team works to craft impactful solutions for your brand's most pressing challenges and help you build a legacy in your line of industry.">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div id="scrollsmoother-container">
    <!-- <div class="cs_height_219 cs_height_lg_120"></div> -->
    <div class="cs_height_70"></div>
    <!-- start banner -->
    <section>
        <div class="container">
            <div class="cs_section_heading cs_style_1 cs_type_1">
                <div class="cs_section_heading_text">
                    <div class="cs_height_70"></div>
                    <h3 class="cs_section_title_3 anim_div_ShowLeftSide cs_section_title anim_text_writting about-main-title">
                        Crafting­ businesses­ that­ make­ waves,­ we're­ the­ architects­ at ­play.
                    </h3>
                    <!-- <h2 class="cs_section_title anim_text_writting">
                        Crafting­ businesses­ that­ make­ waves,­ we're­ the­ architects­ at ­play.
                    </h2> -->
                    <p class="about-text mt-3">At Magsmen, we bring together strategy and innovation to make a real difference globally. We're not just about building brands; we're all about
                        creating connections that stick. In today's crowded digital space, we love the challenge of helping brands stand out. Want to see what true
                        customer focus can do for you? Curious to explore how we can elevate your brand over a casual coffee chat? Swing by Magsmen and let's
                        start the conversation.</p>
                </div>
                <div class="cs_section_heading_right">
                    <div class="cs_animated_badge">
                        <div class="rounded_text rotating">
                            <svg viewBox="0 0 200 200">
                                <path id="textPath" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0"
                                    transform="translate(100,100)" fill="none" stroke-width="0"></path>
                                <g font-size="22.1px">
                                    <text text-anchor="start">
                                        <textPath class="coloring" xlink:href="#textPath" startOffset="0%">
                                            Magsmen .Brand Consultants.&nbsp;
                                        </textPath>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <div class="position-absolute cs_ceneter_text">
                            <img src="{% static 'assets/img/about/monogram-wise-owl.png' %}" alt="about-monogram" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner -->

    <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
    <div class="cs_height_70"></div>
    <!-- Start Video Block -->
    <div class="container">
        <div class="cs_parallax parallax-img about-img-parallax">
            <video controls loop autoplay muted playsinline>
                <source src="{% static 'assets/img/service-videos/magsmen-home-page-show-reel-building-brands-company-introduction-India12.mp4' %}" type="video/mp4">
            </video>
            <!-- <a href="https://www.youtube.com/watch?v=VcaAVWtP48A"
                class="cs_video_block cs_style1 cs_video_open cs_bg cs_parallax_bg"
                data-src="{% static 'assets/img/service-videos/magsmen-home-page-show-reel-building-brands-company-introduction-India12.mp4' %}" type="video/mp4">
                <span class="cs_player_btn cs_accent_color">
                    <span></span>
                </span>
            </a> -->
        </div>
    </div>
    <!-- End Video Block -->

    <div class="cs_height_70"></div>
    <!-- Start FunFact -->
    <div class="container stats-container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="cs_funfact cs_style1 funfact_cs">
                    <div class="cs_funfact_number cs_stroke_text me-4">
                        <div class="">
                            <span id="count1" class="amin_auto_count">11</span>
                        </div>
                        <!-- <span>K</span> -->
                    </div>
                    <div class="cs_funfact_text cs_primary_font">
                        <p>Sectors</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cs_funfact cs_style1 funfact_cs">
                    <div class="cs_funfact_number cs_stroke_text me-4">
                        <div class="">
                            <span id="count2" class="amin_auto_count">312</span>
                        </div>
                        <span>+</span>
                    </div>

                    <div class="cs_funfact_text cs_primary_font">
                        <p>Brand Strategies Built</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cs_funfact cs_style1 funfact_cs">
                    <div class="cs_funfact_number cs_stroke_text">
                        <span id="count3" class="amin_auto_count">14</span>
                    </div>
                    <div class="cs_funfact_text cs_primary_font">
                        <p class="">Awards Achievement</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cs_funfact cs_style1 funfact_cs">
                    <div class="cs_funfact_number cs_stroke_text">
                        <span id="count4" class="amin_auto_count">412M</span>
                    </div>
                    <div class="cs_funfact_text cs_primary_font">
                        <p>Impressions Reached
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End FunFact -->

    <div class="cs_height_70"></div>
    <!-- start our agency story -->
    <section style="background-color: #000;">
        <div class="cs_primary_bg" style="background-color: #000 !important;">
            <div class="container">
                <div class="cs_height_100 cs_height_lg_60"></div>
                <div class="cs_section_heading_hr cs_style_1">
                    <!-- <div class="cs_hr_design"></div> -->
                    <!-- <div class="cs_section_heading cs_style_1 cs_color_1">
                        <div class="cs_section_heading_text">
                            <h2 class="cs_section_title anim_heading_title">
                                Our Story
                            </h2>
                        </div>
                    </div> -->
                    <!-- <div class="cs_hr_design"></div> -->
                </div>
                <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
                <div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="cs_section_heading cs_style_1 cs_color_1">
                                <div class="cs_section_heading_text">
                                    <h3 class="cs_section_title_3 anim_div_ShowLeftSide">
                                        Our Story
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="anim_div_ShowRightSide">
                                <p class="cs_ternary_color about-text">
                                    We don't just talk brands, we build them. We're story architects, using creativity and tech to craft unforgettable experiences that leave customers wanting more.
                                </p>
                                <p class="cs_ternary_color about-text">
                                    Years of industry experience fuel our understanding on what makes brands tick, allowing us to craft experiences that are both innovative and deeply relevant.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cs_height_385 cs_height_lg_120"></div>
            </div>
        </div>
        <!-- start image our agency story -->
        <div class="container-fluid">
            <div class="cs_agency agency_about_images_posation about-story">
                <div class="cs_img_section_1">
                    <img src="{% static 'assets/img/about/magsmen-about-image-312x450.webp' %}" alt="" class="w-100" />
                </div>
                <div class="cs_img_section_2">
                    <img src="{% static 'assets/img/about/middle-image.png' %}" alt="" class="w-100" />
                </div>
                <div class="cs_img_section_3">
                    <div class="text-end">
                        <img src="{% static 'assets/img/about/our-story-image-3.png' %}" alt="" />
                        <img src="{% static 'assets/img/about/right-down-reel.png' %}" class="w-100" alt="" />
                    </div>
                </div>
            </div>
            <!-- <div class="cs_height_115 cs_height_lg_60"></div> -->
            <div class="cs_height_100 cs_height_lg_60"></div>
        </div>
      
        <!-- end image our agency story -->
    </section>
    <!-- end our agency story -->


        <!-- Start about founder -->
        <section>
            <div class="container">
                <!-- start heading -->
                <!-- end heading -->
                <div class="cs_height_100 cs_height_lg_50"></div>
                <div class="row cs_cr_pr cs_row_gap_150">
                    <div class="col-md-6 mb-4">
                        <div class="h-100">
                            <img src="{% static 'assets/img/about/sandeep-img-oo.png' %}" class="w-100 h-60 anim_div_ShowLeftSide"
                                alt="sandeep-img-oo" />
                        </div>
                    </div>
                    <div class="col-md-6 my-auto about-text">
                        <h2>Sandeep</h2>
                        <h5>Founder of Magsmen Brand Consultants</h5>
                        <p>Magsmen's journey began in 2020, led by the visionary Mr. N. Sandeep. Leveraging his 8+ years of brand-building expertise, his innovative approach has positioned Magsmen as a leading force in the industry within four years.</p>
                        <p>Honored with several prestigious awards, Mr. Sandeep goes beyond formulas, believing in the power of brand storytelling to unlock growth potential for businesses of all sectors.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End about founder -->

    <!-- <div class="cs_height_150 cs_height_lg_80"></div> -->
    <div class="cs_height_70"></div>
    <!-- start our team -->
    <section>
        <div class="container">
            <div class="cs_section_heading cs_style_1 cs_type_1">
                <div class="cs_section_heading_text">
                    <div class="cs_section_subtitle anim_div_ShowZoom sec-main-title">
                        Our Team
                    </div>
                    <h2 class="cs_section_title anim_heading_title ourteam-sec">
                        Our Excellence Team That Can Digitalize Your Brand
                    </h2>
                </div>
                <!-- <div class="cs_section_heading_right cs_btn_anim">
                    <a href="team.html" class="cs_btn cs_style_1">
                        <span>View All Member</span>
                        <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                fill="currentColor"></path>
                        </svg>
                    </a>
                </div> -->
            </div>
            <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
            <div class="cs_height_70"></div>

            <!-- start teams images -->
            <div class="cs_team_section anim_blog team-section-cs">
                <div class="cs_team_img">
                    <a>
                        <!-- <img src="{% static 'assets/img/team/anill.jpg' %}" alt="anil" /> -->
                        <div class="cs_portfolio_overlay"></div>
                    </a>

                    <div class="cs_team_text">
                            <h6 class="cs_team_text_title">Vamsi Kiran</h6>
                
                            <h6 class="cs_team_text_title">Creative Head</h6>
                     
                            <!-- <p class="cs_team_subtitle">PHP Developer</p> -->
                    </div>
                </div>
                <div class="cs_team_img">
                    <a >
                        <!-- <img src="{% static 'assets/img/team/manimalaa.jpg' %}" alt="manimalaa" /> -->
                        <div class="cs_portfolio_overlay"></div>
                    </a>
                    <div class="cs_team_text">
                        <a>
                            <h6 class="cs_team_text_title">Anil Kumar</h6>
                        </a>
                        <a >
                            <h6 class="cs_team_text_title">Operations Executive</h6>
                        </a>
                        <!-- <p class="cs_team_subtitle">UI/UX Designer</p> -->
                    </div>
                </div>
                <div class="cs_team_img">
                    <a >
                        <!-- <img src="{% static 'assets/img/team/koudhji.jpg' %}" alt="koudhji" /> -->
                        <div class="cs_portfolio_overlay"></div>
                    </a>

                    <div class="cs_team_text">
                        <a>
                            <h6 class="cs_team_text_title">Manimala</h6>
                        </a>
                        <a>
                            <h6 class="cs_team_text_title">Branch Manager</h6>
                        </a>
                        <!-- <p class="cs_team_subtitle">Web Developer</p> -->
                    </div>
                </div>
                <div class="cs_team_img">
                  <a>
                        <!-- <img src="{% static 'assets/img/team/vamsi.jpeg' %}" alt="vamsi" /> -->
                        <div class="cs_portfolio_overlay"></div>
                    </a>
               
                    <div class="cs_team_text">
                     
                        <a>
                            <h6 class="cs_team_text_title">Koushik</h6>
                        </a>
                        <a>
                            <h6 class="cs_team_text_title">Brand Strategist</h6>
                        </a>
                     
                        <!-- <p class="cs_team_subtitle">UX Sketch Designer</p> -->
                    </div>
                </div>
                <div class="cs_team_img">
                    <a>
                          <!-- <img src="{% static 'assets/img/team/vamsi.jpeg' %}" alt="vamsi" /> -->
                          <div class="cs_portfolio_overlay"></div>
                      </a>
                 
                      <div class="cs_team_text">
                       
                          <a>
                              <h6 class="cs_team_text_title">Hemanth</h6>
                          </a>
                          <a>
                              <h6 class="cs_team_text_title">Social Media Manager</h6>
                          </a>
                       
                          <!-- <p class="cs_team_subtitle">UX Sketch Designer</p> -->
                      </div>
                  </div>
                  <div class="cs_team_img">
                    <a>
                          <!-- <img src="{% static 'assets/img/team/vamsi.jpeg' %}" alt="vamsi" /> -->
                          <div class="cs_portfolio_overlay"></div>
                      </a>
                 
                      <div class="cs_team_text">
                       
                          <a>
                              <h6 class="cs_team_text_title">Bhagyashree</h6>
                          </a>
                          <a>
                              <h6 class="cs_team_text_title">Brand Strategist</h6>
                          </a>
                       
                          <!-- <p class="cs_team_subtitle">UX Sketch Designer</p> -->
                      </div>
                  </div>
            </div>
            <!-- end teams images -->
        </div>
    </section>
    <!-- end our team -->
    <!-- <div class="cs_height_150 cs_height_lg_60"></div> -->
    <div class="cs_height_70"></div>



    <!-- <div class="cs_height_145 cs_height_lg_60"></div> -->

    <!-- <div class="cs_height_150 cs_height_lg_60"></div> -->
    <!-- Start Partner Logo -->
    <div class="cs_moving_section_wrap cs_bold cs_moving_section_hover_push">
        <div class="cs_moving_section_in">
            <div class="cs_moving_section cs_animation_speed_40">
                <div class="cs_partner_logo_wrap">
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsmen-homepage-clients-sweathatelugufoods-168x168.png' %}" alt="telugu-foods" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsmen-homepage-clients-colors-168x168.png' %}" alt="surya-colors" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsmen-homepage-clients-tenalidoublehorse-168x168.png' %}" alt="tenali-double-horse" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsmen-homepage-clients-triplexxx-168x168.png' %}" alt="triplex" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsmen-homepage-clients-vsb-168x168.png' %}" alt="vsb" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/suma-filmy-arts.png' %}" alt="suma-filmy-arts" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/34.png' %}" alt="instant-foods" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/suma-kanakala.png' %}" alt="suma-kanakala" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/cargil.png' %}" alt="cargil" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsmen-homepage-clients-zavane-168x168.png' %}" alt="zavaine" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/logo4.png' %}" alt="19builders" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img//brand-logos/magsen-our-partner-jayalakshmi-168x168.png' %}" alt="jayalakshmi" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/pronted.png' %}" alt="prontend" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/chakrasiddh.png' %}" alt="Chakrasiddh" />
                    </div>
                </div>
            </div>
            <div class="cs_moving_section cs_animation_speed_40">
                <div class="cs_partner_logo_wrap">
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsen-our-partner-rootcap-lion-168x168.png' %}" alt="lion" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsen-our-partner-rootcap-logo-168x168.png' %}" alt="rootcap" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsen-our-partner-mvr-logo-168x168.png' %}" alt="Partner" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/6.png' %}" alt="bniguntur" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/BD-Logo-1.png' %}" alt="BD-Logo-1" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/17.png' %}" alt="karumaunchi" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/12.png' %}" alt="greatindia" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/12.png' %}" alt="greatindia" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/31.png' %}" alt="siri" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/8.png' %}" alt="crown" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/27.png' %}" alt="pemmasani-associates" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/magsmen-homepage-clients-jayacotton-168x168.png' %}" alt="jayacotton-products" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/21.png' %}" alt="manna" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/the-box.png' %}" alt="the-box" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="cs_height_45 cs_height_lg_45"></div> -->
    <div class="cs_height_70"></div>
    <div class="cs_moving_section_wrap cs_bold cs_moving_section_hover_push">
        <div class="cs_moving_section_in">
            <div class="cs_moving_section cs_animation_speed_50">
                <div class="cs_partner_logo_wrap">
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/29.png' %}" alt="sahaja" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/15.png' %}" alt="integrity" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/30.png' %}" alt="pkprime" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/24.png' %}" alt="nikith-marketing" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/28.png' %}" alt="cairos" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/dhruthi-logo.png' %}" alt="druthi-healthcare" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/10.png' %}" alt="golden-charirot" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/25.png' %}" alt="nut" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/32.png' %}" alt="nirmaan" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/16.png' %}" alt="kamadhenu" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/38.png' %}" alt="tufftron" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/14.png' %}" alt="idea-box" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/11.png' %}" alt="gowri-sankar" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/9.png' %}" alt="dt7solutions" />
                    </div>
                </div>
            </div>
            <div class="cs_moving_section cs_animation_speed_50">
                <div class="cs_partner_logo_wrap">
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/logo2.png' %}" alt="workpen" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/18.png' %}" alt="kiroula" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/40.png' %}" alt="vihas" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/26.png' %}" alt="pangea" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/39.png' %}" alt="vignata-fertility" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/3.png' %}" alt="ap-cotton" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/13.png' %}" alt="happy-homes" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/36.png' %}" alt="think-biz" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/4.png' %}" alt="arjun-sai" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/7.png' %}" alt="coastal" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/19.png' %}" alt="kothamas-dental-care" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/23.png' %}" alt="navya-guard" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/5.png' %}" alt="art-bliss" />
                    </div>
                    <div class="cs_partner_logo">
                        <img src="{% static 'assets/img/brand-logos/psk-logo-copy.png' %}" alt="psk-logo-copy" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Partner Logo -->

    <!-- <div class="cs_height_150 cs_height_lg_60"></div> -->
    <div class="cs_height_70"></div>
 


    {% endblock %}