

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div id="scrollsmoother-container">
    <div class="cs_height_219 cs_height_lg_120"></div>
    <!-- start digital product -->
    <section>
        <div class="container">
            <div class="cs_section_heading cs_style_1 cs_type_1">
                <div class="cs_section_heading_text">
                    <h2 class="cs_section_title anim_text_writting">
                        Brand Consulting
                    </h2>
                </div>
            </div>
            <div class="cs_height_100 cs_height_lg_60"></div>
            <div class="cs_service_details d-flex">
                <div class="hero__about-video px-3">
                    <video loop="" muted="" autoplay="" playsinline="">
                      <source src="/static/assets/img/service-videos/magsmen-brand-consulting-service-850x400.mp4" type="video/mp4" alt="video not display">
                    </video>
                  </div>
                <!-- <video loop muted autoplay playsinline>
                    <source src="/static/assets/imgs/service-videos/magsmen-brand-consulting-service-850x400.mp4" type="video/mp4" alt="video not display">
                  </video> -->
                <!-- <div class="cs_service_details_img">
                    <div class="hero__about-video px-3">
                        <video loop muted autoplay playsinline>
                            <video src="/static/assets/img/service-videos/magsmen-brand-consulting-service-850x400.mp4" type="video/mp4" alt="Video Not Played"></video>
                        </video>
                      </div>
                    <div class="video muted autoplay playinline">
                        <video src="/static/assets/img/service-videos/magsmen-brand-consulting-service-850x400.mp4" type="video/mp4"></video>
                    </div>
                </div> -->
                <div class="cs_service_details_text">
                    <div class="cs_service_details_p">
                        <p class="anim_text">
                            We work with brands as a true strategic partner, applying rigorous standards and creative ingenuity to build it up
                        </p>
                        <ul class="anim_div_ShowDowns">
                            <li>Design Welcome to our digital agency!</li>

                            <li>Dev online. From website design</li>

                            <li>Implementation evolving world of digital to driv</li>

                            <li>Launch growth and reach your goals.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end digital product -->
    <!-- <div class="cs_height_150 cs_height_lg_50"></div>

    <div class="cs_height_150 cs_height_lg_60"></div> -->
    <!-- Start Others Services List -->
    <div class="container">
        <div class="cs_service_details cs_type_2">
            <div class="cs_service_details_img">
                <div class="cs_accordeon">
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingOne">
                                BRAND STRATEGY
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Crystalize who your brand is for – and who it’s not for. We’ll map when, where and how your customers interact with your brand - and areas of critical impact to guide future brand strategy and creative development.
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingTwo">
                                BRAND ARCHITECTURE
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Maximize the equity of your brand portfolio by defining the organizing principles, relationships, and hierarchies for your company, products, and services.
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingThree">
                                BRAND IDENTITY AND DESIGN
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Your brand identity is so much more than a logo. We’ll deliver the visual brand language elements across digital and physical experiences that will connect with your audience and bring your essential brand to life.
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingFour">
                                DESIGNING CUSTOMER
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            We help improve your customer experience at every touchpoint with an accurate snapshot of all the ways shoppers interact with your brand.
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs_service_details_img">
                <div class="cs_accordeon">
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingFour">
                                BUILDING & MAINTAINING BRAND DYNAMICS
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            We help brands stand out through aweful, elegant visual design. Our design mainly philosophy.
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingFour">
                                MAINTAINING BRAND VOICE & MESSAGING
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Bring your brand story to life with unique and authentic language tailored by audience, channel, and different stages of your marketing funnel.
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingFour">
                                BRAND POSITIONING
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Understanding a 360° view of your brand’s current state and future potential to identify the critical drivers of success. Understand product and market realities,competitive landscape, cultural trends and consumer needs...
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingFour">
                                BRAND TRACKING
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            We power your entire research system with a brand health tracker that delivers actionable context that give and creates a more holistic brand tracking system.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Others Services List -->

    <!-- start cta -->
    <section>
        <div class="container">
            <div class="cs_learning_project">
                <div class="cs_section_heading cs_style_1">
                    <div class="cs_section_heading_text anim_heading_title">
                        <h3 class="cs_section_title_3">
                            We Would Love To Hear More About Your Project!
                        </h3>
                    </div>
                    <div class="cs_section_heading_right cs_btn_anim">
                        <a href="/contact/" class="cs_btn cs_style_1">
                            <span>Contact Us</span>
                            <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038
                11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                    fill="currentColor" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cta -->


{% endblock %}