


{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}

<div id="scrollsmoother-container">
    <div class="cs_height_219 cs_height_lg_120"></div>


    <!-- Start our services -->
    <div class="container">
        <div class="cs_section_heading cs_style_1 cs_type_1">
            <div class="cs_section_heading_text blog-title">
                <h2 class="cs_section_title anim_text_writting">
                    We're Hiring 
                </h2>
            </div>
        </div>
    </div>
    <!-- End our services -->

    <!-- <section class="career-notification">
        <div class="container">
            <div class="row">
                {% for item in career_job %}
                <div class="col-lg-10 career-card">
                    <div class="card">
                        <div class="card-body pb-1">
                            <h5 class="card-body-title">{{item.ExpertiseName}}</h5>
                            <p class="description"><b>Description :</b> {{item.Description}}</p>
                            <div class="d-flex justify-content-between align-items-baseline location-date-info">
                                <div class="d-flex location-date">
                                    <p class="location"><i class="fas fa-map-marker-alt"></i>{{item.Location}}</p>
                                    <p class="post-date"><i class="fas fa-calendar-alt"></i>{{item.CreatedAt}}</p>
                                </div>
                                <div class="cs_section_heading_right cs_btn_anim">
                                    <a href="/applyform/" class="cs_btn cs_style_1 career-btn">
                                        <span>Apply Now</span>
                                        <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038
                            11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                                fill="currentColor" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    

    </section> -->
    <div class="cs_height_100 cs_height_lg_60"></div>
    <section>
        <div class="container">
            <div class="row">
                {% for item in career_job %}
                <div class="col-lg-4">
                    <div class="card career-card">
                        <div class="card-header card-title">{{item.ExpertiseName}}</div>

                        <a href="/applyform/" class="apply-btn">
                            <span>Apply Now</span>
                        </a>
                        <!-- <a href="/applyform/" class="apply-btn">Apply Now</a> -->
    
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- <div class="cs_height_100 cs_height_lg_50"></div> -->
    <div class="cs_height_70"></div>

    {% endblock %}