<title>Magsmen | Get in touch</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more. Get in touch with us and skyrocket your brand growth.">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}

<div id="scrollsmoother-container">
    <!-- <div class="cs_height_150 cs_height_lg_120"></div> -->
    <div class="cs_height_90 cs_height_lg_60"></div>


    <section class="cs_gray_bg_20 contact-sec">
        <div class="cs_height_90 cs_height_lg_60"></div>
        <div class="container">
            <div class="row flex-column flex-lg-row align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="cs_section_heading cs_style_1">
                        <div class="cs_section_heading_text">
                            <h5 class="cs_contact_subtitle anim_text_upanddowns">
                                Fuel your next big idea with a <img src="/static/assets/img/logos/cup-coffee.png" alt="cup-coffee" width="50" height="50" style="display: inline-block;"> at Magsmen!
                            </h5>
                        </div>
                    </div>
                    <div class="cs_height_70 cs_height_lg_20"></div>
                    <div class="cs_startup_agency_frist cs_text_section">
                        <div>
                            <div class="cs_from anim_div_ShowDowns">
                                <form action="#" method="POST" id="contactform" class="contact-submitform">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="cs_field_group col">
                                            <input class="cs_input_field" type="text" id="name" placeholder="Name"
                                                name="name" />
                                            <label for="test1" class="cs_input_label">Name</label>
                                        </div>
                                        <div class="cs_field_group col">
                                            <input class="cs_input_field" type="email" id="email" placeholder="Name"
                                                name="email" />
                                            <label for="test2" class="cs_input_label">Email</label>
                                        </div>
                                    </div>
                                    <div class="cs_height_10 cs_height_lg_20"></div>
                                    <div class="row">
                                        <div class="cs_field_group col">
                                            <input class="cs_input_field" type="text" id="phone" placeholder="Phone"
                                                name="phone" />
                                            <label for="test3" class="cs_input_label">Phone</label>
                                        </div>
                                        <div class="cs_field_group col">
                                            <input class="cs_input_field" type="text" id="subject" placeholder="Subject"
                                                name="subject" />
                                            <label for="test4" class="cs_input_label">Subject</label>
                                        </div>
                                    </div>
                                    <div class="cs_height_100 cs_height_lg_60"></div>
                                    <div class="cs_field_group">
                                        <input class="cs_input_field" type="text" id="message" placeholder="Message"
                                            name="message" />
                                        <label for="test5" class="cs_input_label">Message</label>
                                    </div>
                                    <div class="cs_height_60 cs_height_lg_60"></div>
                                    <button type="button" id="sendbtn" class="cs_btn cs_style_1 cs_type_btn">
                                        <span>Send Now</span>
                                        <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <!-- <div class="cs_service_back_btn">
                                <a href="#" class="cs_style_1 cs_color_1">
                                    <span class="cs_font_18">Learn More</span>
                                    <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038
                11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </a>
                            </div> -->
                        </div>
                        <div class="cs_startup_agency cs_card cs_mr_left">
                            <h6>Head Office</h6>
                            <div class="d-flex align-items-center">
                                <!-- <div class="cs_hr"></div> -->
                                <p class="cs_font_16 cs_normal cs_mp0">
                                    208,212 Ap Cotton Association Building, Opp Avantra Jewels, Lakshmipuram Main Road, Guntur, Andhra Pradesh, 522007.
                                </p>
                            </div>
                            <p class="cs_font_16 cs_mp0 contact-address">
                                <a href="tel:+91 90449 10449" style="border-bottom: 1px solid black;">+91 90449 10449</a><br>
                                <a href="mailto:connect@magsmen.in" style="text-transform:lowercase;border-bottom: 1px solid black;">CONNECT@MAGSMEN.IN</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="cs_startup_agency">
                        <div class="cs_startup_agency cs_card">
                            <h6>Corporate Office</h6>
                            <div class="d-flex align-items-center">
                                <!-- <div class="cs_hr"></div> -->
                                <p class="cs_font_16 cs_normal cs_mp0">
                                    GVR Infra, Rd Number 12, Ayyappa Society, VIP Hills, Silicon Valley, Madhapur, Hyderabad, Telangana 500081.
                                </p>
                            </div>
                            <p class="cs_font_16 cs_mp0">
                                <a href="tel:+91 90449 10449" style="border-bottom: 1px solid black;">+91 90449 10449</a><br>
                                <a href="mailto:connect@magsmen.in" style="text-transform:lowercase;border-bottom: 1px solid black;">connect@magsmen.in</a>
                            </p>
                        </div>
                        <div class="cs_startup_agency cs_card">
                            <h6>Australia Office</h6>
                            <div class="d-flex align-items-center">
                                <!-- <div class="cs_hr"></div> -->
                                <p class="cs_font_16 cs_normal cs_mp0">
                                    1/9, Fifth Avenue, Rowville, VIC, 3178.
                                </p>
                            </div>
                            <p class="cs_font_16 cs_mp0">
                                <a href="tel:+61 406 017 663" style="border-bottom: 1px solid black;">+61 406 017 663</a><br>
                                <a href="mailto:hconnect@magsmen.com.au" style="text-transform:lowercase;border-bottom: 1px solid black;">connect@magsmen.com.au</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cs_height_60"></div>
    </section>

    <section>
        <div class="container pt-5 pb-5">
            <div class="cs_contact_ms">
                <div class="cs_contact_section_2 anim_div_ShowRightSide">
                    <div class="cs_google_map cs_bg" data-src="assets/img/map_img.png">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3829.2249463389244!2d80.42503527466117!3d16.311446532909017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a755aed1edb2d%3A0xf0fcdfb624d11870!2sMagsmen%20Brand%20Consultants%20-%20create%20your%20brand%20in%2090%20days!5e0!3m2!1sen!2sin!4v1723204216472!5m2!1sen!2sin"
                            width="700" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="cs_contact_section_2 anim_div_ShowRightSide">
                    <div class="cs_google_map cs_bg" data-src="assets/img/map_img.png">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.2268410572187!2d78.38672901077842!3d17.448853600962405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93e71462394d%3A0xd24f59003eeb2dba!2sGVR%20Infra%20Projects%20Limited!5e0!3m2!1sen!2sin!4v1727081068049!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-----start address ---->
<!-- <div class="cs_height_50 cs_height_lg_50"></div> -->
<!-- <section class="contact-sec pt-5">
    <div class="container">
        <div class="row">
            <div class="contact-details contact-wrapper">
                <div class="col-md-4">
                    <div class="cs_icon">
                        <a href="https://www.google.com/maps" class="cs_icon_style">
                            <i>
                                <svg width="14" height="19" viewBox="0 0 14 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 0.0195312C3.14027 0.0195312 0 3.01027 0 6.68621C0 7.78973 0.289693 8.88387 0.840408 9.85434L6.6172 17.8047C6.69411 17.9373 6.84065 18.0195 7 18.0195C7.15935 18.0195 7.30589 17.9373 7.3828 17.8047L13.1617
                          9.85105C13.7103 8.88387 14 7.78969 14 6.68617C14 3.01027 10.8597 0.0195312 7 0.0195312ZM7 10.0195C5.07014 10.0195 3.50002 8.52418 3.50002 6.68621C3.50002 4.84824 5.07014 3.35289 7 3.35289C8.92986 3.35289 10.5 4.84824 10.5 6.68621C10.5
                          8.52418 8.92986 10.0195 7 10.0195Z" fill="white"></path>
                                </svg>
                            </i>
                        </a>
                        <div class="cs_icon_text">
                            <h6 class="cs_icon_title">Head Office</h6>
                            <p class="cs_icon_subtitle contact-locations">208,212 Ap Cotton Association Building,
                                Opp Avantra Jewels, Lakshmipuram Main Road,
                                Guntur, Andhra Pradesh, 522007.
                            </p>
                            <a href="tel:+91 90449 10449" style="border-bottom: 1px solid black;">+91 90449 10449</a><br>
                            <a href="mailto:connect@magsmen.in" style="text-transform:lowercase;border-bottom: 1px solid black;">CONNECT@MAGSMEN.IN</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cs_icon">
                        <a href="https://www.google.com/maps" class="cs_icon_style">
                            <i>
                                <svg width="14" height="19" viewBox="0 0 14 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 0.0195312C3.14027 0.0195312 0 3.01027 0 6.68621C0 7.78973 0.289693 8.88387 0.840408 9.85434L6.6172 17.8047C6.69411 17.9373 6.84065 18.0195 7 18.0195C7.15935 18.0195 7.30589 17.9373 7.3828 17.8047L13.1617
                          9.85105C13.7103 8.88387 14 7.78969 14 6.68617C14 3.01027 10.8597 0.0195312 7 0.0195312ZM7 10.0195C5.07014 10.0195 3.50002 8.52418 3.50002 6.68621C3.50002 4.84824 5.07014 3.35289 7 3.35289C8.92986 3.35289 10.5 4.84824 10.5 6.68621C10.5
                          8.52418 8.92986 10.0195 7 10.0195Z" fill="white"></path>
                                </svg>
                            </i>
                        </a>
                        <div class="cs_icon_text">
                            <h6 class="cs_icon_title">Corporate Office</h6>
                            <p class="cs_icon_subtitle contact-locations">4th Floor 402, Ayyappa Society,
                                Plot No:1303, Madhapur,
                                Hyderabad, Telangana 500081.
                            </p>
                            <a href="tel:+91 90449 10449" style="border-bottom: 1px solid black;">+91 90449 10449</a><br>
                            <a href="mailto:hydops@magsmen.in" style="text-transform:lowercase;border-bottom: 1px solid black;">hydops@magsmen.in</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cs_icon">
                        <a href="https://www.google.com/maps" class="cs_icon_style">
                            <i>
                                <svg width="14" height="19" viewBox="0 0 14 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 0.0195312C3.14027 0.0195312 0 3.01027 0 6.68621C0 7.78973 0.289693 8.88387 0.840408 9.85434L6.6172 17.8047C6.69411 17.9373 6.84065 18.0195 7 18.0195C7.15935 18.0195 7.30589 17.9373 7.3828 17.8047L13.1617
                          9.85105C13.7103 8.88387 14 7.78969 14 6.68617C14 3.01027 10.8597 0.0195312 7 0.0195312ZM7 10.0195C5.07014 10.0195 3.50002 8.52418 3.50002 6.68621C3.50002 4.84824 5.07014 3.35289 7 3.35289C8.92986 3.35289 10.5 4.84824 10.5 6.68621C10.5
                          8.52418 8.92986 10.0195 7 10.0195Z" fill="white"></path>
                                </svg>
                            </i>
                        </a>
                        <div class="cs_icon_text">
                            <h6 class="cs_icon_title">Australia Office</h6>
                            <p class="cs_icon_subtitle contact-locations">1/9, Fifth Avenue, Rowville, VIC, 3178.
                            </p>
                            <a href="tel:+10422554889" style="border-bottom: 1px solid black;">+10422554889</a><br>
                            <a href="mailto:hconnect@magsmen.com.au" style="text-transform:lowercase;border-bottom: 1px solid black;">connect@magsmen.com.au</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!---End Address---->

    <!-- <div class="cs_height_150 cs_height_lg_60"></div> -->


{% endblock %}