

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div id="scrollsmoother-container">
    <div class="cs_height_219 cs_height_lg_120"></div>
    <!-- start digital product -->
    <section>
        <div class="container">
            <div class="cs_section_heading cs_style_1 cs_type_1">
                <div class="cs_section_heading_text">
                    <h3 class="cs_section_title_3 anim_div_ShowLeftSide cs_section_title anim_text_writting">
                       Corporate Rebranding
                    </h3>
                </div>
            </div>
            <div class="cs_height_100 cs_height_lg_60"></div>
            <div class="cs_service_details d-flex justify-content-center align-items-center detail_service">
                <div class="hero__about-video px-3">
                    <video loop muted autoplay playsinline>
                      <source src="/static/assets/img/service-videos/magsmen-corporate-rebranding-consulting-service-850x400.mp4" type="video/mp4" alt="video not display">
                    </video>
                </div>
                <div class="cs_service_details_text my-auto">
                    <div class="cs_service_details_p">
                        <p class="anim_text about-text">
                            We give your brand a refresh to keep up your brand with changes in the marketplace by tweaking your brand’s existing assets.
                        </p>
                        <!-- <ul class="anim_div_ShowDowns">
                            <li>Design Welcome to our digital agency!</li>

                            <li>Dev online. From website design</li>

                            <li>Implementation evolving world of digital to driv</li>

                            <li>Launch growth and reach your goals.</li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end digital product -->
    <!-- <div class="cs_height_150 cs_height_lg_50"></div> -->

    <!-- <div class="cs_height_150 cs_height_lg_60"></div> -->
        <!-- Start Others Services List -->
        <div class="container">
            <div class="cs_service_details cs_type_2 service-second">
                <div class="cs_service_details_text" style="margin: auto; display: inline-block;">
                    <div class="cs_specialization cs_section_heading cs_style_1">
                        <div class="cs_section_heading_text">
                            <h4 class="cs_section_title_4">Changing the way people see</h4>
                        </div>
                        <div>
                            <ul class="corporate-text-points">
                                <li>Research on the rebranding opportunity and challenges for the brand</li>
                                <li>Revamping the entire identity</li>
                                <li>Rephrasing the entire brand voice</li>
                                <li>Changing your brand inside out</li>
                                <li>Packaging patterns and product patterns</li>
                                <li>Brand stationery</li>
                                <li>Revamped brand positioning</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cs_back_to_services_btn">
                        <a href="/expertise/" class="cs_style_1">
                            <span>Back To Services Page</span>
                            <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                    fill="currentColor"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Others Services List -->

    <!-- start cta -->
    <section>
        <div class="container">
            <div class="cs_learning_project">
                <div class="cs_section_heading cs_style_1">
                    <div class="cs_section_heading_text anim_heading_title">
                        <h3 class="cs_section_title_3">
                            We Would Love To Hear More About Your Project!
                        </h3>
                    </div>
                    <div class="cs_section_heading_right cs_btn_anim">
                        <a href="/contact/" class="cs_btn cs_style_1">
                            <span>Contact Us</span>
                            <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038
                11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                    fill="currentColor" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cta -->

   

{% endblock %}