

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}



<div id="scrollsmoother-container">
    <div class="cs_height_219 cs_height_lg_120"></div>
    <!-- start digital product -->
    <section>
        <div class="container">
            <div class="cs_section_heading cs_style_1 cs_type_1">
                <div class="cs_section_heading_text">
                    <!-- <h2 class="cs_section_title anim_text_writting">
                        Digital Product Design
                    </h2> -->
                </div>
            </div>
            <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
            <div class="cs_service_details detail_service">
                <div class="hero__about-video px-3">
                    <video loop muted autoplay playsinline>
                      <source src="/static/assets/img/service-videos/magsmen-image-consulting-service-details-850x400.mp4" type="video/mp4" alt="video not display">
                    </video>
                </div>
                <div class="cs_service_details_text my-auto">
                    <div class="cs_service_details_p">
                        <h3 class="cs_section_title_3 anim_div_ShowLeftSide cs_section_title anim_text_writting main-title-head">
                            Image Consulting
                        </h3>
                        <p class="anim_text about-text">
                            Explore and learn about your own power of image
                            and style, leverage it to the best use, while having
                            fun doing it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end digital product -->
    <div class="cs_height_150 cs_height_lg_50"></div>


    <!-- Start Others Services List -->
    <div class="container">
        <div class="cs_service_details detail_service cs_type_2">
            <div class="cs_service_details_img">
                <div class="cs_accordeon">
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingOne">
                                IMAGE CREATION/INITIAL CONSULTING
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Our image consulting starts with digging into who you are, what sets you apart, what you want to communicate by your visual appearance and more.
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingTwo">
                                CLOSET EDIT WARDROBE STYLING AUDIT
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            We’ll go through your closet piece by piece to figure out what you should keep, or donate. You’ll try garments to get advice on fit, we’ll identify what the gaps are in your closet and organize in a way so you can wear everything.
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs_service_details_img">
                <div class="cs_accordeon">
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingOne">
                                PERSONALIZED OUTFIT GUIDE
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            You’ll never again have to ask yourself ‘what should I wear today?’ You’ll receive a customized outfit guide - based off of items that you currently own, love and are hanging in your closet.
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingTwo">
                                WE DRIVE CONVERSATIONS
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Engage your audience with topics that would interest them. Create a dialogue with your audience and exchange thoughts.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Others Services List -->

    <!-- start cta -->
    <section>
        <div class="container">
            <div class="cs_learning_project">
                <div class="cs_section_heading cs_style_1">
                    <div class="cs_section_heading_text anim_heading_title">
                        <h3 class="cs_section_title_3">
                            We Would Love To Hear More About Your Project!
                        </h3>
                    </div>
                    <div class="cs_section_heading_right cs_btn_anim">
                        <a href="/contact/" class="cs_btn cs_style_1 service-explore">
                            <span>Contact Us</span>
                            <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038
                11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                    fill="currentColor" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cta -->



{% endblock %}