

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}

<div id="scrollsmoother-container">
    <!-- <div class="cs_height_70"></div> -->
    <div class="cs_height_80 cs_height_lg_20"></div>
    <!-- <div class="cs_height_70 cs_height_lg_60"></div> -->
    <!-- <div class="cs_height_65 cs_height_lg_40"></div> -->
      <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
        <!-- <div class="cs_height_150 cs_height_lg_80"></div> -->
    <!-- start digital product -->
    <section class="pb-5" style="background-color:#000">
        <div class="container">
            <div class="cs_section_heading cs_style_1 cs_type_1 d-flex justify-content-around launchpad-title">
                <div class="cs_section_heading_text mt-5">
                    <h3 class="cs_section_title_3 anim_div_ShowLeftSide cs_section_title anim_text_writting text-white">
                        Launchpad by MAGSMEN: Your Partner in Building Successful Ventures
                    </h3>
                </div>
                <div class="launchpad-btn">
                    <a href="/" class="cs_btn cs_style_1 cs_color_1 cs_01_color launchpad-btn service-explore">
                        <span class="text-white">Back To Home</span>
                        <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z" fill="currentColor"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="cs_height_100 cs_height_lg_60"></div>

            <div class="cs_portfolio_details">
                <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
                <div class="anim_div_ShowDowns">
                    <div class="cs_ul_ml d-flex justify-content-center text-white">
                        <ul>
                            <li>"Transform Your Idea into Reality with Launchpad"</li>
                            <li>
                                "Take Your Business to New Heights with MAGSMEN's Launchpad"
                            </li>
                            <li>
                                "Experience the Power of Partnership with Launchpad"
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

                <div class="development__img d-flex justify-content-center">
                    <div class="hero__about-video px-3" style="background-color: transparent;">
                        <video loop muted autoplay playsinline>
                            <source src="/static/assets/img/service-videos/magsmen-lanuchpad-page-video-850x400.mp4" type="video/mp4"
                                alt="video not display">
                        </video>
                    </div>
                </div>
        </div>
    </section>
    <!-- end digital product -->
      
    <div class="cs_height_150 cs_height_lg_50"></div>


    <!-- Start Others Services List -->
    <div class="container">
        <div class="cs_service_details detail_service cs_type_2">
            <div class="cs_service_details_img">
                <div class="cs_accordeon">
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingOne">
                                QUALITY MENTORSHIP
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Our experienced mentors will provide you with expert guidance and support, helping you to develop your business idea and navigate the challenges of starting a new venture. They will share their knowledge and expertise, provide feedback on your business plan, and help you to identify and overcome any obstacles you may face along the way
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingTwo">
                                BUSINESS CONSULTATION:
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Our experienced consultants will work with you to develop a tailored business strategy that is designed to help you achieve your goals. They will provide you with expert advice on all aspects of starting and growing a business, from market research and product development to branding and marketing
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs_service_details_img">
                <div class="cs_accordeon">
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingOne">
                                INTERNATIONAL NETWORKING:
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            At Launchpad, we understand the importance of building a strong network of contacts, and we will help you to connect with like-minded entrepreneurs, investors, and business leaders from around the world. Our international networking events and platforms will provide you with opportunities to share your ideas, collaborate with others, and build valuable relationships that can help to take your business to the next level.
                        </div>
                    </div>
                    <div class="cs_accordion_item">
                        <div class="cs_accordion_header">
                            <p class="cs_accordion_title cs_m0" id="headingTwo">
                                FINANCIAL PLANNING:
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                                <path
                                    d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                    data-name="Right" />
                            </svg>
                        </div>

                        <div class="cs_accordion_body">
                            Launching a new business can be expensive, and financial planning is essential to ensure that you have the resources you need to succeed. Our financial experts will work with you to develop a realistic budget and financial plan, helping you to manage your cash flow, raise capital, and make informed financial decisions that will help your business to grow
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Others Services List -->


    <div class="cs_height_75 cs_height_lg_45"></div>

    <!-- Start portfolio-details img show -->
    <section>
        <div class="container">
            <div class="cs_portfolio_details">
                <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
                <div class="anim_div_ShowDowns">
                    <div class="cs_img_show_text cs_text_style_1">
                        <h4 class="cs_heading_text anim_heading_title launchpad-sub-text">Here’s how it works - Sharing risks and rewards with you!</h4>
                    </div>
                    <div class="cs_ul_ml launchpad-list">
                        <ul>
                            <li>To participate in Launchpad, Magsmen offers an attractive proposition for entrepreneurs and
                                businesses by taking a stake in their ventures without charging any fees. This means that we share
                                the risk and rewards with you, and our success is linked to your success. We believe that this
                                aligns our interests and helps us work together towards a common goal.</li>
                            <li>
                                Dev online. From website design Implementation world of digital. Our stake in your venture is a testament to our confidence in your business and our commitment to
                                help you achieve your goals. We are not just another service provider, but a partner in your
                                journey. Our investment in your venture means that we have a vested interest in its success, and
                                we work tirelessly to help you achieve that success.
                            </li>
                            <li>
                                We understand that taking an equity stake in your venture is a big decision, and that is why we
                                ensure that our evaluation process is rigorous, transparent and fair. We assess each venture on its
                                own merit and take into account various factors such as market potential, team capabilities, and
                                financial viability.
                            </li>
                        </ul>
                    </div>
                    <p class="about-text">At Magsmen, we are committed to building long-term relationships with our clients, and our stake in your
                        venture is a reflection of that commitment. We believe that by sharing the risk and rewards with you, we
                        can work together to create value and achieve success.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End portfolio-details img show -->
    <div class="cs_height_75 cs_height_lg_45"></div>


{% endblock %}