<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}





<div id="scrollsmoother-container">
    <div class="cs_height_219 cs_height_lg_120"></div>

    <!--Start portfolio-details title -->
    <section>
        <div class="container">
            <div class="cs_section_heading cs_style_1 cs_type_1">
                <div class="cs_section_heading_text">
                    <div class="cs_section_heading_text">
                        <a class="cs_primary_font anim_text_upanddowns works-main-title"><span>Tenali Double Horse</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End portfolio-details title -->
    <div class="cs_height_100 cs_height_lg_60"></div>
    <!-- <div class="cs_height_75 cs_height_lg_45"></div> -->

    <!-- Start portfolio-details img show -->
    <section>
        <div class="container">
            <div class="cs_portfolio_details video-main-sec">
                <video controls loop autoplay muted playsinline>
                    <source src="{% static 'assets/img/works/tenali-double-horse.mp4' %}" type="video/mp4">
                </video>
                <div class="cs_height_100 cs_height_lg_60"></div>
                <div class="anim_div_ShowDowns">
                    <div class="cs_img_show_text cs_text_style_1">
                        <h4 class="cs_heading_text anim_heading_title">Problem</h4>
                        <p class="cs_text_style_body about-text">
                            Tenali Double Horse, one of the biggest brands in South India, needed to focus on consistency, brand positioning, and clear strategy for new markets. With multiple teams handling the brand, there was a lack of unified brand guidelines and digital strategy
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End portfolio-details img show -->
    <!-- <div class="cs_height_75 cs_height_lg_45"></div> -->

    <!-- Start service details slider-->
    <div class="container">
        <div class="d-flex gap-2 gap-md-5">
            <div class="reveal">
                <img src="{% static 'assets/img/works/urad-gota.png' %}" alt="urad-gota" />
            </div>
            <div class="reveal">
                <img src="{% static 'assets/img/works/urad-gota.png' %}" alt="urad-gota" />
            </div>
        </div>
    </div>
    <!-- End service slider-->
    <div class="cs_height_150 cs_height_lg_60"></div>

    <!-- Start Solutions Section -->
    <section>
        <div>
            <div class="container">
                <div class="cs_portfolio_details">
                    <div class="cs_solutions_section anim_div_ShowDowns">
                        <div>
                            <h4 class="cs_heading_text anim_heading_title">
                                Strategy
                            </h4>
                            <p class="cs_text_style_body about-text">
                                We developed a robust solution starting with brand guidelines, educating the teams on the usage of the logo and brand materials across touchpoints. We then unified their digital strategy by working closely with their social team, ensuring a streamlined process. We introduced e-commerce in India, implemented an Amazon market entry strategy in the USA, and executed a direct market entry strategy in the USA. We redefined the product launches and introduced a new show, "Anubandham," that brought renowned celebrities on board to talk about their stories and launch Tenali Double Horse products. We also changed the entire brand positioning from competitive to premium and developed a strategy roadmap to make the brand a pan-Indian market leader by 2025.
                            </p>
                        </div>
                        <div class="cs_solutions_section_img_show">
                            <div class="portfolio_solution_1 reveal">
                                <img src="{% static 'assets/img/works/suma-packets.png' %}"
                                    alt="portfolio_solution_1" />
                            </div>
                            <div class="portfolio_solution_2 reveal">
                                <img src="{% static 'assets/img/works/suma-packets.png' %}"
                                    alt="portfolio_solution_2" />
                            </div>
                        </div>
                        <!-- <div class="cs_img_footer_title cs_color_1 anim_text_upanddowns">
                            <p>The End - thank you stay with us!</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Solutions Section -->


    <div class="cs_height_100 cs_height_lg_60"></div>

    <!-- Start portfolio-details img show -->
    <section>
        <div class="container">
            <div class="cs_portfolio_details">
                <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
                <div class="anim_div_ShowDowns">
                    <div class="cs_img_show_text cs_text_style_1">
                        <h4 class="cs_heading_text anim_heading_title">Result</h4>
                    </div>
                    <div class="cs_ul_ml works-list">
                        <ul>
                            <li>
                                Established brand consistency and positioning for Tenali Double Horse
                            </li>
                            <li>
                                Educated teams on the usage of the logo and brand materials across touchpoints
                            </li>
                            <li>
                                Unified the digital strategy to ensure a streamlined process and implemented e-commerce in India.
                            </li>
                            <li>
                                Successfully entered the US market through an Amazon market entry strategy and a direct market entry strategy.
                            </li>
                            <li>
                                Redefined product launches and introduced the "Anubandham" show to launch products with renowned celebrities.
                            </li>
                            <li>
                                Changed the brand's positioning from competitive to premium.
                            </li>
                            <li>
                                Ongoing strategy roadmap to make the brand a pan-Indian market availability by Q4 2024.
                            </li>                    
                        </ul>
                    </div>
                </div>
                <div class="cs_solutions_section_img_show grid-images">
                    <div class="portfolio_solution_3 reveal">
                        <img src="{% static 'assets/img/works/tenali-double-products.png' %}"
                            alt="portfolio_solution_3" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End portfolio-details img show -->
    <!-- <div class="cs_height_75 cs_height_lg_45"></div> -->

        <!-- Start serction about your project. header-->
        <section>
            <div class="container">
                <div class="cs_learning_project">
                    <div class="cs_section_heading cs_style_1">
                        <div class="cs_section_heading_text anim_heading_title">
                            <h3 class="cs_section_title_3">
                                We Would Love To Hear More About Your Project!
                            </h3>
                        </div>
                        <div class="cs_section_heading_right cs_btn_anim">
                            <a href="/contact/" class="cs_btn cs_style_1">
                                <span>Contact Us</span>
                                <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038
                    11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start serction about your project. header-->



    {% endblock %}