
<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base-two.html' %}
{% load static %}
{% block content %}



<div id="scrollsmoother-container">
    <div class="cs_height_219 cs_height_lg_120"></div>

    <!-- Start team Header -->
    <div class="container">
        <div class="cs_section_heading cs_style_1 cs_type_1">
            <div class="cs_hero_text blog-title">
                <h1 class="cs_hero_title anim_banner_text_left ">Works</h1>
            </div>
        </div>
    </div>
    <!-- End team Header -->
    <!-- <div class="cs_height_100 cs_height_lg_60"></div>
    <section>
        <div class="container">
            <div class="cs_team_section anim_div_ShowDowns">
                <div class="cs_team_img works-img">
                    <a href="/telugufoods/">
                        <img src="{% static 'assets/img/works/Telugu-foods.jpg' %}" alt="telugu-foods" />
                        <div class="cs_portfolio_overlay"></div>
                    </a>
                    <div class="cs_team_text">
                        <a href="/telugufoods/">
                            <h6 class="cs_team_text_title title-head works-title">Digital Media | Brand Consulting</h6>
                        </a>
                       
                    </div>
                </div>
                <div class="cs_team_img works-img">
                    <a href="/suryacolors/">
                        <img src="{% static 'assets/img/works/Surya-Colours.jpg' %}" alt="Surya-Colours" />
                        <div class="cs_portfolio_overlay"></div>
                    </a>
                    <div class="cs_team_text">
                        <a href="/suryacolors/">
                            <h6 class="cs_team_text_title title-head works-title">Brand Consulting</h6>
                        </a>
                      
                    </div>
                </div>
                <div class="cs_team_img works-img">
                    <a href="/tdhrishika/">
                        <img src="{% static 'assets/img/works/TDH-Foods.jpg' %}" alt="tdhrishika" />
                        <div class="cs_portfolio_overlay"></div>
                    </a>

                    <div class="cs_team_text">
                        <a href="/tdhrishika/">
                            <h6 class="cs_team_text_title title-head works-title">Brand Consulting</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="cs_height_20 cs_height_lg_20"></div>
            <div class="cs_team_section anim_div_ShowDowns">
                <div class="cs_team_img works-img">
                    <a href="/tenalidoublehorse/">
                        <img src="{% static 'assets/img/works/tenali-double-horse.jpg' %}" alt="tenali-double-horse" />

                        <div class="cs_portfolio_overlay"></div>
                    </a>
                    <div class="cs_team_text">
                        <a href="/tenalidoublehorse/">
                            <h6 class="cs_team_text_title title-head works-title">Brand Consulting</h6>
                        </a>
                       
                    </div>
                </div>
                <div class="cs_team_img works-img">
                    <a href="/triplex/">
                        <img src="{% static 'assets/img/works/Triplex.jpg' %}" alt="triplex" />
                        <div class="cs_portfolio_overlay"></div>
                    </a>
                    <div class="cs_team_text">
                        <a href="/triplex/">
                            <h6 class="cs_team_text_title title-head works-title">Digital Media</h6>
                        </a>
                  
                    </div>
                </div>
                <div class="cs_team_img works-img">
                    <a href="/vsb/">
                        <img src="{% static 'assets/img/works/VSB.png' %}" alt="vsb" />
                        <div class="cs_portfolio_overlay"></div>
                    </a>
                    <div class="cs_team_text">
                        <a href="/vsb/">
                            <h6 class="cs_team_text_title title-head works-title">Digital Media | Brand Consulting</h6>
                        </a>
                      
                    </div>
                </div>
            </div>

            <div class="cs_height_20 cs_height_lg_20"></div>
                <div class="cs_team_section anim_div_ShowDowns zavaine-team-section">
                    <div class="cs_team_img works-img">
                        <a href="/zavaine/">
                            <img src="{% static 'assets/img/works/Zavaiine.jpg' %}" alt="Zavaiine" />
                            <div class="cs_portfolio_overlay"></div>
                        </a>
                        <div class="cs_team_text">
                            <a href="/zavaine/">
                                <h6 class="cs_team_text_title title-head works-title">Digital Media</h6>
                            </a>
                          
                        </div>
                    </div>
                </div>
        </div>
    </section> -->

    <section>
        <div class="container">
            <!-- <div class="cs_height_150 cs_height_lg_60"></div> -->
            <div class="cs_height_100 cs_height_lg_60"></div>
            <div class="row">
                <div class="col-lg-4 maincardcontainer">
                    <div class="card maincard">
                        <div class="card-front">
                            <a href="/telugufoods/">
                                <img src="{% static 'assets/img/works/Telugu-foods.jpg' %}" alt="telugu-foods" />
                            </a>
                        </div>
                        <div class="card-back">
                            <h6 class="cs_team_text_title title-head works-title">Brand Consulting | Digital Media</h6>
                            <a href="/telugufoods/" class="cs_btn cs_style_1 cs_color_1 service-explore click-here">
                                <span>Click Here</span>
                                <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 maincardcontainer">
                    <div class="card maincard">
                        <div class="card-front">
                            <a href="/suryacolors/">
                                <img src="{% static 'assets/img/works/Surya-Colours.jpg' %}" alt="Surya-Colours" />
                            </a>
                        </div>
                        <div class="card-back">
                            <h6 class="cs_team_text_title title-head works-title">Brand Consulting</h6>
                            <a href="/suryacolors/" class="cs_btn cs_style_1 cs_color_1 service-explore click-here">
                                <span>Click Here</span>
                                <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 maincardcontainer">
                    <div class="card maincard">
                        <div class="card-front">
                            <a href="/tdhrishika/">
                                <img src="{% static 'assets/img/works/TDH-Foods.jpg' %}" alt="tdhrishika" />
                            </a>
                        </div>
                        <div class="card-back">
                            <h6 class="cs_team_text_title title-head works-title">Brand Consulting</h6>
                            <a href="/tdhrishika/" class="cs_btn cs_style_1 cs_color_1 service-explore click-here">
                                <span>Click Here</span>
                                <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 maincardcontainer">
                    <div class="card maincard">
                        <div class="card-front">
                            <a href="/tenalidoublehorse/">
                                <img src="{% static 'assets/img/works/tenali-double-horse.jpg' %}" alt="tenali-double-horse" />
                            </a>
                        </div>
                        <div class="card-back">
                            <h6 class="cs_team_text_title title-head works-title">Brand Consulting</h6>
                            <a href="/tenalidoublehorse/" class="cs_btn cs_style_1 cs_color_1 service-explore click-here">
                                <span>Click Here</span>
                                <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 maincardcontainer">
                    <div class="card maincard">
                        <div class="card-front">
                            <a href="/triplex/">
                                <img src="{% static 'assets/img/works/Triplex.jpg' %}" alt="triplex" />
                            </a>
                        </div>
                        <div class="card-back">
                            <h6 class="cs_team_text_title title-head works-title">Digital Media</h6>
                            <a href="/triplex/" class="cs_btn cs_style_1 cs_color_1 service-explore click-here">
                                <span>Click Here</span>
                                <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 maincardcontainer">
                    <div class="card maincard">
                        <div class="card-front">
                            <a href="/vsb/">
                                <img src="{% static 'assets/img/works/VSB.png' %}" alt="vsb" />
                            </a>
                        </div>
                        <div class="card-back">
                            <h6 class="cs_team_text_title title-head works-title">Brand Consulting | Digital Media</h6>
                            <a href="/vsb/" class="cs_btn cs_style_1 cs_color_1 service-explore click-here">
                                <span>Click Here</span>
                                <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 maincardcontainer">
                    <div class="card maincard">
                        <div class="card-front">
                            <a href="/zavaine/">
                                <img src="{% static 'assets/img/works/Zavaiine.jpg' %}" alt="Zavaiine" />
                            </a>
                        </div>
                        <div class="card-back">
                            <h6 class="cs_team_text_title title-head works-title">Digital Media</h6>
                            <a href="/zavaine/" class="cs_btn cs_style_1 cs_color_1 service-explore click-here">
                                <span>Click Here</span>
                                <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="cs_height_100 cs_height_lg_60"></div> -->
    <!-- Start serction about your project. header-->
    <section>
        <div class="container">
            <div class="cs_learning_project">
                <div class="cs_section_heading cs_style_1">
                    <div class="cs_section_heading_text anim_heading_title">
                        <h3 class="cs_section_title_3">
                            We Would Love To Hear More About Your Project!
                        </h3>
                    </div>
                    <div class="cs_section_heading_right cs_btn_anim">
                        <a href="/contact/" class="cs_btn cs_style_1 service-explore">
                            <span>Contact Us</span>
                            <svg width="19" height="13" viewBox="0 0 19 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038
                11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                    fill="currentColor" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start serction about your project. header-->





{% endblock %}